@font-face {
    font-family: 'Unmoor Outline';
    src: url('UnmoorOutlineThin.eot');
    src: local('Unmoor Outline Thin'), local('UnmoorOutlineThin'),
        url('UnmoorOutlineThin.eot?#iefix') format('embedded-opentype'),
        url('UnmoorOutlineThin.woff2') format('woff2'),
        url('UnmoorOutlineThin.woff') format('woff'),
        url('UnmoorOutlineThin.ttf') format('truetype');
    font-weight: 100 !important;
    font-style: normal;
    font-display: swap;
}


body {
  font-family: 'Unmoor Outline', sans-serif;
  color: #D2B48C;
  background-color: #222222;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 2vh auto;
  height: 80vh;
  width: max-content;
  max-width: 80vw;
  overflow-x: clip;
}

.header {
  color: #D2B48C;
  font-weight: 100 !important;
  line-break: anywhere;
  font-size: 3em;
  line-break: strict;
  user-select: none;
  text-decoration: none;
  overflow-x: clip;

}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: x-large;
}

form input {
  font-size: x-large;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #FFC817;
  background-color: #222222;
  color: #FFC817;
}

form input[type="submit"]{
  grid-column: span 2;
}

ul {
  margin: 0 auto;
  list-style-type: square;
  padding-left: 20px;
}

ul li::marker {
  color: #D2B48C;
}

ul li a {
  color: #D2B48C;
  font-size: x-large;
  user-select: none;
  text-decoration-color: #D2B48C;
}

@media screen and (max-width: 600px){
  body {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
  }
  h1 {
    text-align: center;
  }
  .header {
    margin: 0 auto;
    font-size: 2em;
  }
  form {
    font-size: large;
  }
  form input {
    font-size: large;
  }
  ul {
    font-size: large;
  }
  ul li a {
    font-size: large;
  }  
}